<main class="main-content">
    <div class="header-main-content">
        <h2 class="header-main-title">
            <!-- Aquí se genera el título del tipo de operación-->
        </h2>
        <span class="header-main-user-type">
            <!-- Aquí se genera el nombre del tipo de usuario -->
        </span>
        <span class="header-main-user-name">
            <!-- Aquí se genera el nombre del usuario -->
        </span>
        <span class="header-main-user-surname">
            <!-- Aquí se genera el apellido del usuario -->
        </span>
    </div>
    <div class="subheader-main-content">
        <h3 class="subheader-main-title">
            <!-- Aquí se genera el subtítulo del tipo de operación -->
        </h3>
    </div>
    <table class="table-main-content">
        <thead class="table-main-header-transactions-titles">
                <th class="table-main-header-title">Entidad financiera</th>
                <th class="table-main-header-title">Fecha</th>
                <th class="table-main-header-title">Aportación</th>
                <th class="table-main-header-title">Acumulado</th>      
        </thead>
        <tbody *ngFor="let user of contributions" class="table-main-transactions-content">
            
               
                    <tr *ngFor="let contribution of user.contributions" class="table-main-transaction">
                        <td class="table-main-data">{{ contribution.financialEntityId }}</td>
                        <td class="table-main-data">{{ contribution.date }}</td>
                        <td class="table-main-data">{{ contribution.monthlyContributions | currency }}</td>
                        <td class="table-main-data">{{ contribution.totalAmount | currency }}</td>
                    </tr>
            
          
            <!--
                Aquí se generán los movimientos de la tabla

                <tr class="table-main-transaction">
                    <td class="table-main-data">Dato 1</td>
                    <td class="table-main-data">Dato 2</td>
                    <td class="table-main-data">Dato 3</td>
                </tr>
                <tr class="table-main-transaction">
                    <td class="table-main-data">Dato 1</td>
                    <td class="table-main-data">Dato 2</td>
                    <td class="table-main-data">Dato 3</td>
                </tr>
            -->
        </tbody>
    </table>
</main>
