<main class="main-content">
  <div class="header-main-content">
    <h2 class="header-main-title">Blue Print</h2>
    <div class="header-main-user">
      <span class="header-main-user-type">ciudadano:</span>
      <span class="header-main-user-name">
        <!-- Aquí se genera el nombre del usuario -->
      </span>
      <span class="header-main-user-surname">
        <!-- Aquí se genera el apellido del usuario -->
      </span>
    </div>
  </div>
  <div class="subheader-main-content">
    <h3 class="subheader-main-title">Aportaciones totales / mensuales</h3>
  </div>
  <table class="table-main-content">
    <thead class="table-main-header-transactions-titles">
      <th class="table-main-header-title">Entidad financiera</th>
      <th class="table-main-header-title">Fecha</th>
      <th class="table-main-header-title">Aportación</th>
      <th class="table-main-header-title">Acumulado</th>
    </thead>
    <tbody
      *ngFor="let user of contributions"
      class="table-main-transactions-content"
    >
      <tr
        *ngFor="let contribution of user.contributions"
        class="table-main-transaction"
      >
        <td class="table-main-data">{{ contribution.financialEntityId }}</td>
        <td class="table-main-data">{{ contribution.date }}</td>
        <td class="table-main-data">
          {{ contribution.monthlyContributions | currency }}
        </td>
        <td class="table-main-data">
          {{ contribution.totalAmount | currency }}
        </td>
      </tr>
    </tbody>
  </table>
</main>
