<main class="main-content">
  <div class="header-main-content">
    <h2 class="header-main-title">Blue Print</h2>
    <div class="header-main-user">
      <span class="header-main-user-type">Promotor:</span>
      <span class="header-main-user-name">
        <!-- Aquí se genera el nombre del promotor -->
      </span>
    </div>
  </div>
  <div class="subheader-main-content">
    <h3 class="subheader-main-title">Aportaciones</h3>
  </div>
  <div class="promoter-info">
    <h3>Información de Promotores</h3>
    <div *ngFor="let promoter of promoterContributions">
      <h3>{{ promoter.name }}</h3>
      <div *ngFor="let contribution of promoter.contributions">
        <p>userid: {{ contribution.userId}}</p>
        <p>financialEntityId: {{ contribution.financialEntityId}}</p>
        <p>monthlyContributions: {{ contribution.monthlyContributions | currency}}</p>
      </div>
    </div>
  </div>
  <table class="table-main-content">
    <thead class="table-main-header-transactions-titles">
      <th class="table-main-header-title">Usuario</th>
      <th class="table-main-header-title">Entidad financiera</th>
      <th class="table-main-header-title">Mes</th>
      <th class="table-main-header-title">Aportación</th>
    </thead>
    <!-- <tbody *ngFor="let user of contributions" class="table-main-transactions-content">
        <tr *ngFor="let contribution of user.contributions" class="table-main-transaction">
          <td class="table-main-data">{{ contribution.financialEntityId }}</td>
          <td class="table-main-data">{{ contribution.date }}</td>
          <td class="table-main-data">{{ contribution.monthlyContributions | currency }}</td>
          <td class="table-main-data">{{ contribution.totalAmount | currency }}</td>
        </tr>
      </tbody> -->
  </table>
</main>
