<!-- login.component.html -->
<div class="login absolute p-10">
  <form class="flex flex-col w-full" (submit)="validateForm($event)" method="post">
    <div class="username-zone mb-4">
      <label class="block mb-2" for="username">
        Nombre de usuario:
      </label> <br>
      <input
        type="text"
        [(ngModel)]="username"
        id="username"
        name="username"
        class="px-4 py-2 border rounded-md w-full"
      />
    </div>
    <div class="password-zone mb-4">
      <label class="block mb-2" for="password">
        Contraseña:
      </label> <br>
      <input
        type="password"
        [(ngModel)]="password"
        id="password"
        name="password"
        class="px-4 py-2 border rounded-md w-full"
      />
    </div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 cursor-pointer"> Entrar </button>
  </form>
  <!-- Mostramos un mensaje de error si existe -->
  <div *ngIf="errorMessage" class="error-alert-zone">
    <span id="error-message"> {{ errorMessage }} </span>
  </div>
</div>
