<!-- header.component.html -->
<header class="header flex justify-between items-center fixed top-0 w-full px-5 py-2 z-10" style="background-color: #0C4A6E;">
  <div class="">
    <img src="../../../assets/images/logo/light/logo-blueprint_white.svg" alt="logo-blueprint" class="w-14 h-auto mx-4">
  </div>
  <div class="log-zone">
    <ng-container *ngIf="!isLoggedIn; else logoutButton">
      <button (click)="toggleLoginForm()" class="uppercase bg-sky-100 text-sky-700 px-3 py-2 rounded-md font-bold hover:bg-sky-300 hover:text-sky-950"> Iniciar sesión </button>
    </ng-container>
    <ng-template #logoutButton>
      <button (click)="logout()" class="uppercase bg-sky-100 text-sky-700 px-3 py-2 rounded-md font-bold hover:bg-sky-300 hover:text-sky-950"> Cerrar sesión </button>
    </ng-template>
  </div>
</header>

<!-- login desplegable cuando pulsamos el botón de 'Iniciar sesión' -->
<div *ngIf="!isLoggedIn && loginFormVisible" class="login-dropdown fixed top-20 right-2 flex justify-center items-center rounded-md bg-sky-200 z-20">
  <app-login #loginForm></app-login>
</div>
