<main class="main-content bg-blue-50 text-gray-700 min-h-screen mt-14">
  <h1 class="text-4xl font-bold text-center mb-6 pt-5">Blue Print</h1>
    <p class="mb-8 max-w-5xl mx-auto text-center font-medium">
      ¡Bienvenido a Blue Print, la plataforma digital de consultas para sistemas
      de carteras de inversiones y planes de pensiones de empleo! Somos un
      equipo de desarrollo conformado por alumnos del IES Juan de la Cierva,
      comprometidos en brindarte la mejor experiencia en la gestión de tus
      inversiones y planes de pensiones. Nuestra misión es simplificar y
      centralizar toda la información relacionada con tus aportaciones y
      beneficios financieros. 
    </p>

    <div class="flex flex-col mb-8 max-w-4xl mx-auto">
      <h2 class="text-xl font-bold text-center text-sky-900 mb-5">Características principales:</h2>
      <ul class="list-disc ml-2">
        <li>
          <span class="text-base font-medium">Centralización de información:</span>
          <span>Accede a todos los detalles de tus
          inversiones y planes de pensiones desde una única plataforma fácil de
          usar.
          </span>
        </li>
        <li>
          <span class="text-base	 font-medium">Gestión de aportaciones:</span>
          <span> Carga y actualiza fácilmente las aportaciones
          realizadas por los promotores para cada uno de tus empleados.
          </span>
        </li>
        <li>
          <span class="text-base	 font-medium">Interfaz intuitiva:</span> 
          <span>Nuestra aplicación cuenta con una interfaz amigable
          y moderna, diseñada para proporcionarte una experiencia de usuario
          fluida y eficiente.
          </span>
        </li>
        <li>
          <span class="text-base	 font-medium">Seguridad y privacidad:</span> 
          <span>Nos comprometemos a proteger tus datos
          financieros con los más altos estándares de seguridad y privacidad.</span>
        </li>
      </ul>
    </div>

    <div class="flex flex-col mb-8 max-w-2xl mx-auto">
      <h2 class="text-xl font-bold text-center text-sky-900 mb-6">Tecnologías utilizadas:</h2>
      <ul>
        <li>
          <div class="flex items-center mb-3">
            <img src="https://camo.githubusercontent.com/4a1bbc1efb915c3f864534167a73715d5ca1b9098a086cd114dca1392750e080/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f616e67756c61722d2532333037343035652e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d616e67756c6172266c6f676f436f6c6f723d7768697465" alt="angular-logo" class="w-auto h-6 object-cover mr-4">
            <span> Utilizamos este potente framework de <strong>desarrollo front-end</strong> para
              crear una aplicación web robusta y dinámica. </span>
          </div>
        </li>
        <li>
          <div class="flex items-center mb-3">
            <img src="https://camo.githubusercontent.com/a00920b123df05b3df5e368e509f18bacd65bc5909698fb42be5f35063550f47/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f747970657363726970742d2532333030374143432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d74797065736372697074266c6f676f436f6c6f723d7768697465" alt="typescript-logo" class="w-auto h-6 object-cover mr-4">
            <span> Empleamos TypeScript para escribir un código <strong>más limpio,
              seguro y escalable</strong>, garantizando un desarrollo eficiente y mantenible. </span>
          </div>
        </li>
        <li>
          <div class="flex items-center">
            <img src="https://camo.githubusercontent.com/3b41d3ae73bc489dbb2be32e772cc814e3a76e372027056c72e5b970c04684a5/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f7461696c77696e646373732d2532333338423241432e7376673f7374796c653d666f722d7468652d6261646765266c6f676f3d7461696c77696e642d637373266c6f676f436f6c6f723d7768697465" alt="tailwind-logo" class="w-auto h-6 object-cover mr-4">
            <span> Nuestro diseño se beneficia de la <strong>versatilidad y la
              eficiencia</strong> de TailwindCSS, permitiéndonos crear interfaces atractivas y
              responsivas de manera rápida y sencilla </span>
          </div>
        </li>
      </ul>
    </div>

    <div class="flex flex-col mb-10">
      <h2  class="text-xl font-bold text-center text-sky-900 mb-6">Equipo de desarrollo:</h2>
      <div class="team-members flex gap-8">
        <div *ngFor="let member of teamMembers" class="member flex flex-col items-center gap-3">
          <div class="rounded-full overflow-hidden border border-sky-950">
            <a [href]="member.githubProfile">
              <img [src]="member.profileImage" alt="Foto de perfil de {{ member.name }}" class="object-cover w-24 h-24">
            </a>
          </div>
          <p class="text-sky-800">{{ member.name }}</p> 
        </div>
      </div>
    </div>

    <p class="max-w-4xl mx-auto text-center font-medium mb-4">¡Gracias por elegir nuestra plataforma para gestionar tus inversiones y planes de pensiones! Estamos aquí para ayudarte a alcanzar tus metas financieras con confianza y seguridad.</p>

    <button class="fixed bottom-10 right-10 z-50 p-2 bg-blue-500 text-white rounded-full shadow-lg hover:bg-blue-700 transition duration-300 flex items-center justify-center h-12 w-12" (click)="toggleChat()">
      <img src="../../../assets/images/icons/light/chat-bot_white.svg" alt="">
    </button>
    
    <div *ngIf="isChatOpen" class="fixed bottom-16 right-4 z-10 p-4 w-80 h-96 bg-white shadow-lg rounded-lg overflow-auto">
      <app-chat></app-chat>
    </div>  
</main>
