<main class="main-content">
  <h2>Blue Print</h2>
    <p>
      ¡Bienvenido a Blue Print, la plataforma digital de consultas para sistemas
      de carteras de inversiones y planes de pensiones de empleo! Somos un
      equipo de desarrollo conformado por alumnos del IES Juan de la Cierva,
      comprometidos en brindarte la mejor experiencia en la gestión de tus
      inversiones y planes de pensiones. Nuestra misión es simplificar y
      centralizar toda la información relacionada con tus aportaciones y
      beneficios financieros. Características principales:
    </p>
    <ul>
      <li>
        Centralización de información: Accede a todos los detalles de tus
        inversiones y planes de pensiones desde una única plataforma fácil de
        usar.
      </li>
      <li>
        Gestión de aportaciones: Carga y actualiza fácilmente las aportaciones
        realizadas por los promotores para cada uno de tus empleados.
      </li>
      <li>
        Interfaz intuitiva: Nuestra aplicación cuenta con una interfaz amigable
        y moderna, diseñada para proporcionarte una experiencia de usuario
        fluida y eficiente.
      </li>
      <li>
        Seguridad y privacidad: Nos comprometemos a proteger tus datos
        financieros con los más altos estándares de seguridad y privacidad.
      </li>
    </ul>
    <p>Tecnologías utilizadas:</p>
    <ul>
      <li>
        Angular: Utilizamos este potente framework de desarrollo front-end para
        crear una aplicación web robusta y dinámica.
      </li>
      <li>
        TypeScript: Empleamos TypeScript para escribir un código más limpio,
        seguro y escalable, garantizando un desarrollo eficiente y mantenible.
      </li>
      <li>
        TailwindCSS: Nuestro diseño se beneficia de la versatilidad y la
        eficiencia de TailwindCSS, permitiéndonos crear interfaces atractivas y
        responsivas de manera rápida y sencilla.
      </li>
    </ul>
    <p>Equipo de desarrollo:</p>
    <ul>
      <li>Miguel Martínez</li>
      <li>Maksym Dovgan</li>
      <li>Álvaro Barasona</li>
      <li>Sergio Cáceres</li>
      <li>Marcos Almorox</li>
    </ul>
    <p>¡Gracias por elegir nuestra plataforma para gestionar tus inversiones y planes de pensiones! Estamos aquí para ayudarte a alcanzar tus metas financieras con confianza y seguridad.</p>
</main>