.main-content {
  background-color: #f0f9ff;
  color: #334155;
}

.project-info h2 {
  color: #0c4a6e;
}

.project-info p {
  color: #334155;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
