@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background-color: #f8fcf9;
  gap: 10px;
  height: 100%;
}

.project-info h2 {
  color: #0c4a6e;
}

.project-info p {
  color: #334155;
}

