/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
    height: 100%;
}

body {
    height: 100%;
}

app-root {
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    height: 100%;
}