<div class="bg-[#0c4a6e] text-[#f0f9ff] body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <span class="ml-3 text-xl text-[#f0f9ff]">Digital Platform</span>
    </a>
    <p class="text-sm text-[#cbd5e1] sm:ml-6 sm:mt-0 mt-4"> 2024 Digital Consultation —
      <a href="https://twitter.com/" rel="noopener noreferrer" class="text-[#0ea5e9] ml-1" target="_blank">digitalconsult</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <button id="openModal" class="ml-3 text-[#f0f9ff] bg-[#0ea5e9] hover:bg-[#f8fafc] hover:text-[#0c4a6e] py-2 px-4 rounded">
        Contact Us
      </button>
    </span>
  </div>
</div>