<div class="bg-primary text-secondary body-font">
  <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <span class="ml-3 text-xl text-secondary">Blueprint Project</span>
    </a>
    <p class="text-sm text-tertiary sm:ml-6 sm:mt-0 mt-4">2024 Digital Consult — Copyright © All rights reserved
      <a href="https://twitter.com/" rel="noopener noreferrer" class="text-detail ml-1" target="_blank">blueprintprjct</a>
    </p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <button (click)="openComplaintForm()" class="ml-3 text-secondary bg-detail hover:bg-hover hover:text-primary py-2 px-4 rounded">
      Reclamaciones y Peticiones
      </button>
    </span>
  </div>
</div>
