<footer class="bg-[#0C4A6E] text-[#F0F9FF] mt-10">
  <div class="max-w-6xl m-auto text-gray-800 flex flex-wrap justify-center">
      <div class="p-5 w-48">
          <div class="text-xs uppercase text-gray-400 font-medium">Recursos</div>
          <a class="my-3 block hover:text-sky-500" href="/#">FAQ</a>
          <a class="my-3 block hover:text-sky-500" href="/#">Ayuda</a>
          <a class="my-3 block hover:text-sky-500" href="/#">Soporte</a>
      </div>
      <div class="p-5 w-48">
          <div class="text-xs uppercase text-gray-400 font-medium">Compañía</div>
          <a class="my-3 block hover:text-sky-500" href="/#">Sobre Nosotros</a>
          <a class="my-3 block hover:text-sky-500" href="/#">Contacto</a>
          <a class="my-3 block hover:text-sky-500" href="/#">Blog</a>
      </div>
      <div class="p-5 w-48">
          <div class="text-xs uppercase text-gray-400 font-medium">Legal</div>
          <a class="my-3 block hover:text-sky-500" href="/#">Términos y Condiciones</a>
          <a class="my-3 block hover:text-sky-500" href="/#">Política de Privacidad</a>
      </div>
      <div class="p-5 w-48">
          <div class="text-xs uppercase text-gray-400 font-medium">Contacto</div>
          <a class="my-3 block hover:text-sky-500" href="mailto:soporte@plataformadigitalconsultas.com">soporte@plataformadigitalconsultas.com</a>
          <a class="my-3 block hover:text-sky-500" href="tel:+34123456789">+34 123 456 789</a>
      </div>
  </div>
  <div class="pt-2">
      <div class="flex pb-5 px-3 m-auto pt-5 border-t border-gray-500 text-gray-400 text-sm flex-col md:flex-row max-w-6xl">
          <div class="mt-2">© 2024 Plataforma Digital de Consultas. Todos los derechos reservados.</div>
          <div class="md:flex-auto md:flex-row-reverse mt-2 flex-row flex">
              <a href="/#" class="w-6 mx-1 hover:text-sky-500">
                  <i class="uil uil-facebook-f"></i>
              </a>
              <a href="/#" class="w-6 mx-1 hover:text-sky-500">
                  <i class="uil uil-twitter-alt"></i>
              </a>
              <a href="/#" class="w-6 mx-1 hover:text-sky-500">
                  <i class="uil uil-youtube"></i>
              </a>
              <a href="/#" class="w-6 mx-1 hover:text-sky-500">
                  <i class="uil uil-linkedin"></i>
              </a>
              <a href="/#" class="w-6 mx-1 hover:text-sky-500">
                  <i class="uil uil-instagram"></i>
              </a>
          </div>
      </div>
  </div>
</footer>

